@model CotizacionExcelViewModel

@{
    Layout = "~/Views/Shared/Empty.cshtml";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cotización versión MS Excel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SistemaCotizaciones.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        @@media print {
            body {
                width: 21.59cm;
                height: 27.94cm;
                margin: 2.5mm 2.5mm 2.5mm 2.5mm;
                -webkit-print-color-adjust: exact !important;
                print-color-adjust: exact !important;
            }
            .table th {
                background-color: #222 !important;
                -webkit-print-color-adjust: exact;
                white-space: nowrap !important;
            }
        }

        .table td, .table th {
            padding: 3px 3px;
        }

        body {
            -webkit-print-color-adjust: exact !important;
            print-color-adjust: exact !important;
        }
    </style>

</head>

@{
    var idCotizacion = Model.cotizacion.CotizacionId + 1000;
}

<body onload="exportar();">
    <table id="tabla-cotizacion" class="table table-borderless small">
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="4"><img src="~/img/ingram-logo.png" style="width:350px;" /></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="3"></td>
            <th colspan="2" style="background-color:#222; color:#fff">Fecha:</th>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <th style="background-color:#222; color:#fff">
                Partner:
            </th>
            <td colspan="4">@Model.cotizacion.Canal.RazonSocial</td>
            <td>@DateTime.Now.ToString("dd MMM yyyy")</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <th style="background-color:#222; color:#fff">
                Contacto canal:
            </th>
            <td colspan="4">@Model.cotizacion.ContactoCanal.Nombre @Model.cotizacion.ContactoCanal.Apellido</td>
            <th colspan="2" style="background-color:#222; color:#fff">Cotización:</th>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <th style="background-color:#222; color:#fff" style="white-space:nowrap">
                Cliente final:
            </th>
            <td colspan="4">@Model.cotizacion.ClienteFinal.RazonSocial</td>
            <td colspan="2">@idCotizacion.ToString().PadLeft(10,'0')</td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="7">&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th></th>
            <th class="text-center" style="background-color:#222; color:#fff; border:#999 1px solid;">QTy</th>
            <th class="text-center" style="background-color:#222; color:#fff; border:#999 1px solid;">SKU</th>
            <th class="text-center" style="background-color:#222; color:#fff; border:#999 1px solid;">Descripción</th>
            <th class="text-center" style="background-color:#222; color:#fff; border:#999 1px solid;">SN</th>
            <th class="text-center" style="background-color:#222; color:#fff; border:#999 1px solid;">Período</th>
            <th class="text-center" style="background-color:#222; color:#fff; border:#999 1px solid;" style="white-space:nowrap;">Valor unitario</th>
            <th class="text-center" style="background-color:#222; color:#fff; border:#999 1px solid; ">Total</th>
            <th></th>
        </tr>

        @{
            var counter = 0;
            foreach (var material in Model.cotizacion.MaterialesCotizacion)
            {
                counter++;

                <tr>
                    <td style="border:#999 1px solid;" class="text-right">@counter.ToString()</td>
                    <td style="border:#999 1px solid;" class="text-right">@material.Cantidad</td>
                    <td style="white-space:nowrap; border:#999 1px solid;">@material.Material.Sku</td>
                    <td style="border:#999 1px solid;">@material.Material.Descripcion</td>
                    <td style="border:#999 1px solid;">@material.NumeroSerie</td>
                    <td style="white-space:nowrap; border:#999 1px solid;" class="text-center">@material.FechaInicio?.ToString("dd/MM/yyyy").Replace("-","/") - @material.FechaTermino?.ToString("dd/MM/yyyy").Replace("-","/")</td>
                    <td style="border:#999 1px solid;" class="text-right">@material.PrecioCliente?.ToString("N2")</td>
                    <td style="border:#999 1px solid;" class="text-right">@material.TotalNeto?.ToString("N2")</td>
                    <td></td>
                </tr>
            }

            var iva = Model.cotizacion.TotalNeto * 19 / 100;
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border:#999 1px solid;">Neto</td>
            <td style="border:#999 1px solid;" class="text-right">@Model.cotizacion.TotalNeto.ToString("N2")</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border:#999 1px solid;">IVA</td>
            <td style="border:#999 1px solid;" class="text-right">@iva.ToString("N2")</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border:#999 1px solid;">TOTAL</td>
            <td style="border:#999 1px solid;" class="text-right">@Model.cotizacion.TotalIVA.ToString("N2")</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="2">
                @Model.cotizacion.Usuario.Nombre @Model.cotizacion.Usuario.Apellido | @Model.cotizacion.Usuario.Cargo
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="2">
                Mobile: @Model.cotizacion.Usuario.Telefono
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="2">
                Email: @Model.cotizacion.Usuario.Email
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="2">
                Web: www.ingrammicro.cl
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="3" class="font-weight-bold">CONDICIONES COMERCIALES:</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan="3">- Precios y disponibilidad sujetos a cambios sin previo aviso</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan="3">- Condiciones deben ser validadas al momento de la Orden de Compra</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan="3">- Tipo de cambio INGRAM al día de facturación de la mercadería</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan="3">- Condiciones de pago de acuerdo a condiciones contractuales</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan="3">- Validez de cotización: 30 días. Este plazo podria cambiar segun las condiciones definidas por el fabricante</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan="3">- Configuraciones de equipamiento deben ser validadas por el cliente previamente</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="3">Al momento de concretarse el negocio, con la orden de compra deben adjuntarse los siguientes datos del cliente final:</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan="3">- RUT del cliente final</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan="3">- Razón social del cliente final</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan="3">- Dirección</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan="3">- Nombre de contacto (persona que administra la red o administrador de contrato)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan="3">- Fono contacto</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan="3">- Email contacto</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/lib/table-export/tableexport.min.js"></script>
    <script src="~/lib/table-export/filesaver/filesaver.min.js"></script>
    <script src="~/lib/table-export/js-xlsx/xlsx.core.min.js"></script>
    <script>
        function exportar() {
            $('#tabla-cotizacion').tableExport({ type: 'xlsx' });
        }
    </script>
</body>
</html>