@model IEnumerable<SistemaCotizaciones.Model.Cotizacion>

@{
    ViewData["Title"] = "Cotizaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cotizaciones</h2>

<p>
    <a asp-action="Create">Crear nueva cotización</a>
</p>
<input class="form-control float-right col-md-3 offset-9 mb-2" id="inputBuscador" type="text" placeholder="Buscar...">
<table id="tableData" class="table small">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCotizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                Marca
            </th>
            <th>
                Monto compra
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Margen)
            </th>
            <th>
                Monto venta
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Canal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteFinal)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var id = item.CotizacionId + 1000;
            <tr>
                <td class="text-right">
                    @id
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quote.NumeroQuote)
                </td>
                @{
                    var fechaCotizacion = item.FechaCotizacion?.ToString("dd/MM/yyyy");
                }
                <td style="white-space:nowrap;">
                    @fechaCotizacion
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Version)
                </td>
                <td style="white-space:nowrap;">
                    @Html.DisplayFor(modelItem => item.Fabricante.Nombre)
                </td>
                @{
                    var montoVenta = item.TotalNeto;
                    var montoCompra = item.TotalCompra;

                }
                <td style="white-space:nowrap;">
                    @montoCompra
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Margen)
                </td>
                <td style="white-space:nowrap;">
                    @montoVenta
                </td>
                @{
                    var usuario = item.Usuario.Nombre + " " + item.Usuario.Apellido;
                }
                <td style="white-space:nowrap;">
                    @usuario
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Canal.RazonSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteFinal.RazonSocial)
                </td>
                <td style="white-space:nowrap;">
                    <a asp-action="Edit" asp-route-id="@item.CotizacionId" title="Modificar cotización"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="Template" asp-route-id="@item.CotizacionId" title="Duplicar cotización"><i class="fa-solid fa-copy"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.CotizacionId" class="text-danger" title="Eliminar cotización"><i class="fa-solid fa-trash"></i></a>
                </td>
                <td style="white-space:nowrap;">
                    <a asp-action="Excel" asp-route-id="@item.CotizacionId" title="Exportar a Excel" target="_blank"><i class="fas fa-file-excel"></i></a>
                    <a asp-action="PDF" asp-route-id="@item.CotizacionId" title="Exportar a PDF" target="_blank"><i class="fas fa-file-pdf"></i></a>
                    <a asp-action="Create" asp-controller="Pocc" class="small-text" title="Crear POCC" asp-route-id="@item.CotizacionId" target="_blank">POCC</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#inputBuscador").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tableData>tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>