@model CotizacionCreateViewModel

@{
    ViewData["Title"] = "Modificar";
    Layout = "~/Views/Shared/_LayoutCotizacion.cshtml";
}

<style>
    .visible {
        display: table-row;
    }

    .oculta {
        display: none;
    }

    .form-control {
        font-size: smaller;
        height: calc(1.5em + .75rem + 2px);
    }


    .dropdown-menu {
        padding: 0px 1px !important;
        margin: 0px !important;
        font-size: small;
    }

    .filter-option-inner {
        padding: 0px 1px !important;
        margin: 0px !important;
        font-size: smaller;
    }

    .bs-placeholder, .dropdown-toggle {
        color: #495057 !important;
        border: 1px solid #ced4da;
        height: calc(1.5em + .5rem + 2px);
        background-color: #fff;
    }

    #tablaMateriales tr, #tablaMateriales td, #tablaMateriales th {
        padding: 0;
    }

    #tablaMateriales input[type='number'] {
        text-align: right;
    }

    #tablaMateriales input, #tablaMateriales select {
        padding: 0px 1px !important;
        margin: 0px !important;
        height: calc(1em + .5rem + 2px);
        font-size: small;
    }

    #tablaMateriales .bs-placeholder, #tablaMateriales .dropdown-toggle {
        padding: 0px 1px !important;
        margin: 0px !important;
        color: #495057 !important;
        border: 1px solid #ced4da;
        height: calc(1em + .35rem);
        background-color: #fff;
        max-width: 300px;
    }

    #tablaMateriales .bootstrap-select, #tablaMateriales .td-selectpicker {
        max-width: 300px !important;
    }
</style>

<h2>Modificar cotización</h2>

<hr />
<form id="formCotizacion" asp-action="Create" class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="col-md-4 col-sm-12">
        <div class="row p-0">
            <div class="form-group col-md-6 col-sm-12">
                <label asp-for="Quote.NumeroQuote" class="control-label"></label>
                <input asp-for="Quote.NumeroQuote" class="form-control" />
                <span asp-validation-for="Quote.NumeroQuote" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label asp-for="Quote.FechaEmision" class="control-label"></label>
                <input type="date" asp-for="Quote.FechaEmision" class="form-control" />
                <span asp-validation-for="Quote.FechaEmision" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12 col-sm-12">
                <label asp-for="Quote.FabricanteId" class="control-label"></label>
                <select asp-for="Quote.FabricanteId" class="form-control selectpicker" data-live-search="true" asp-items="ViewBag.FabricanteId">
                    <option value="">Seleccione fabricante</option>
                </select>
                <span asp-validation-for="Quote.FabricanteId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12 col-sm-12">
                <label asp-for="Quote.ContactoFabricanteId" class="control-label"></label>
                <select asp-for="Quote.ContactoFabricanteId" class="form-control selectpicker" data-live-search="true" asp-items="ViewBag.ContactoFabricanteId">
                    <option value="">Seleccione contacto</option>
                </select>
                <span asp-validation-for="Quote.ContactoFabricanteId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12 col-sm-12">
                <label asp-for="Quote.NombreOportunidad" class="control-label"></label>
                <input asp-for="Quote.NombreOportunidad" class="form-control" />
                <span asp-validation-for="Quote.NombreOportunidad" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-12">
        <div class="row p-0">
            <div class="form-group col-md-4 col-sm-12">
                <label asp-for="Cotizacion.UsuarioId" class="control-label"></label>
                <select asp-for="Cotizacion.UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId">
                    <option value="">Seleccione usuario</option>
                </select>
                <span asp-validation-for="Cotizacion.UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 col-sm-12">
                <label asp-for="Cotizacion.TipoCotizacionId" class="control-label"></label>
                <select asp-for="Cotizacion.TipoCotizacionId" class="form-control" asp-items="ViewBag.TipoCotizacionId">
                    <option value="">Seleccione tipo de cotización</option>
                </select>
                <span asp-validation-for="Cotizacion.TipoCotizacionId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 col-sm-12">
                <label asp-for="Cotizacion.TipoCompraId" class="control-label"></label>
                <select asp-for="Cotizacion.TipoCompraId" class="form-control" asp-items="ViewBag.TipoCompraId">
                    <option value="">Seleccione tipo de compra</option>
                </select>
                <span asp-validation-for="Cotizacion.TipoCompraId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label asp-for="Cotizacion.CanalId" class="control-label"></label>
                <button type="button" data-toggle="modal" data-target="#modalCanal" class="btn btn-transparent text-success font-weight-bold p-0 mb-2">
                    +
                </button>
                <select asp-for="Cotizacion.CanalId" class="form-control selectpicker" data-live-search="true" asp-items="ViewBag.CanalId">
                    <option value="">Seleccione canal</option>
                </select>
                <span asp-validation-for="Cotizacion.CanalId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label asp-for="Cotizacion.ContactoCanalId" class="control-label"></label>
                <button type="button" data-toggle="modal" data-target="#modalContactoCanal" class="btn btn-transparent text-success font-weight-bold p-0 mb-2">
                    +
                </button>
                <select asp-for="Cotizacion.ContactoCanalId" class="form-control selectpicker" data-live-search="true" asp-items="ViewBag.ContactoCanalId">
                    <option value="">Seleccione contacto</option>
                </select>
                <span asp-validation-for="Cotizacion.ContactoCanalId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label asp-for="Cotizacion.ClienteFinalId" class="control-label"></label>
                <button type="button" data-toggle="modal" data-target="#modalClienteFinal" class="btn btn-transparent text-success font-weight-bold p-0 mb-2">
                    +
                </button>
                <select asp-for="Cotizacion.ClienteFinalId" class="form-control selectpicker" data-live-search="true" asp-items="ViewBag.ClienteFinalId">
                    <option value="">Seleccione cliente final</option>
                </select>
                <span asp-validation-for="Cotizacion.ClienteFinalId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label asp-for="Cotizacion.ContactoClienteFinalId" class="control-label"></label>
                <button type="button" data-toggle="modal" data-target="#modalContactoClienteFinal" class="btn btn-transparent text-success font-weight-bold p-0 mb-2">
                    +
                </button>
                <select asp-for="Cotizacion.ContactoClienteFinalId" class="form-control selectpicker" data-live-search="true" asp-items="ViewBag.ContactoClienteFinalId">
                    <option value="">Seleccione contacto</option>
                </select>
                <span asp-validation-for="Cotizacion.ContactoClienteFinalId" class="text-danger"></span>
            </div>
            @{
                var margen = Model.Cotizacion.Margen.ToString().Replace(",",".");
            }
            <div class="form-group col-md-2 col-sm-12">
                <label asp-for="Cotizacion.Margen" class="control-label"></label>
                <input type="number" min="0" step="0.01" value="@margen" asp-for="Cotizacion.Margen" class="form-control" />
                <span asp-validation-for="Cotizacion.Margen" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3 col-sm-12">
                <label asp-for="Cotizacion.FechaCotizacion" class="control-label"></label>
                <input type="date" asp-for="Cotizacion.FechaCotizacion" class="form-control" />
                <span asp-validation-for="Cotizacion.Margen" class="text-danger"></span>
            </div>
            <div class="form-group col-md-7 col-sm-12">
                <label asp-for="Cotizacion.Observaciones" class="control-label"></label>
                <textarea asp-for="Cotizacion.Observaciones" class="form-control"></textarea>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12">
        <table id="tablaMateriales" class="table table-condensed table-striped table-bordered small">
            <tr>
                <th></th>
                <th style="white-space:nowrap;">
                    MATERIAL<button type="button" class="btn btn-transparent text-success font-weight-bold p-0 ml-2 mb-1" data-toggle="modal" data-target="#modalMaterial">
                        +
                    </button>
                </th>
                <th class="text-center">SW/HW</th>
                <th class="text-center" style="min-width:200px;">S/N</th>
                <th class="text-right">CANT</th>
                <th class="text-right">PRECIO[$]</th>
                <th class="text-right">DESC[%]</th>
                <th class="text-right">IMP/DUTY[%]</th>
                <th class="text-right">CLIENTE[$]</th>
                <th class="text-center">INICIO</th>
                <th class="text-center">TÉRMINO</th>
                <th class="text-right">TOTAL NETO</th>
                <th class="text-right" style="display:none;">TOTAL COMPRA</th>
                <th></th>
            </tr>
            @{
                var nCotizaciones = Model.Cotizacion.MaterialesCotizacion.Where(c => c.TotalNeto != null).ToList().Count;

                for (int i = 1; i <= nCotizaciones; i++)
                {
                    var idDelete = Model.Cotizacion.MaterialesCotizacion[i - 1].MaterialCotizacionId;
                    var skuDelete = Model.Cotizacion.MaterialesCotizacion[i - 1].Material.Sku;

                    var prec = Model.Cotizacion.MaterialesCotizacion[i - 1].PrecioUnitario.ToString().Replace(",", ".");
                    var desc = Model.Cotizacion.MaterialesCotizacion[i - 1].DescuentoPorcentaje.ToString().Replace(",", ".");
                    var impt = Model.Cotizacion.MaterialesCotizacion[i - 1].ImpuestoDuty.ToString().Replace(",", ".");
                    var clie = Model.Cotizacion.MaterialesCotizacion[i - 1].PrecioCliente.ToString().Replace(",", ".");
                    var totl = Model.Cotizacion.MaterialesCotizacion[i - 1].TotalNeto.ToString().Replace(",", ".");
                    var cmpr = Model.Cotizacion.MaterialesCotizacion[i - 1].TotalCompra.ToString().Replace(",", ".");

                    <tr id="tr_@i" class="visible">
                        <td class="text-right">@i</td>
                        <td class="td-selectpicker">
                            <select asp-for="Cotizacion.MaterialesCotizacion[i-1].MaterialId" class="form-control small selectpicker mMaterial" data-live-search="true" asp-items="ViewBag.Materiales">
                                <option value="">Seleccione</option>
                            </select>
                        </td>
                        <td>
                            <select asp-for="Cotizacion.MaterialesCotizacion[i-1].TipoMaterial" class="form-control small mTipo">
                                <option value="SW">SW</option>
                                <option value="HW">HW</option>
                                <option value="SW-BT">SW-BT</option>
                                <option value="HW-BT">HW-BT</option>
                            </select>
                        </td>
                        <td><input asp-for="Cotizacion.MaterialesCotizacion[i-1].NumeroSerie" class="form-control small mNumeroSerie" style="text-transform:uppercase" /></td>
                        <td><input type="number" min="0" step="1" asp-for="Cotizacion.MaterialesCotizacion[i-1].Cantidad" onkeypress="return soloNumeros(event);" class="form-control small mCantidad" /></td>
                        <td><input type="number" min="0" step="0.01" value="@prec" asp-for="Cotizacion.MaterialesCotizacion[i-1].PrecioUnitario" onkeypress="return soloNumpunto(event);" class="form-control small mPrecioUnitario decimal" /></td>
                        <td><input type="number" min="0" step="0.01" value="@desc" asp-for="Cotizacion.MaterialesCotizacion[i-1].DescuentoPorcentaje" class="form-control small mDescuento" /></td>
                        <td><input type="number" min="0" step="0.01" value="@impt" asp-for="Cotizacion.MaterialesCotizacion[i-1].ImpuestoDuty" onkeypress="return soloNumpunto(event);" class="form-control small mImpuesto" /></td>
                        <td><input type="number" min="0" step="0.01" value="@clie" asp-for="Cotizacion.MaterialesCotizacion[i-1].PrecioCliente" readonly class="form-control small mPrecioCliente decimal" /></td>
                        <td><input type="date" asp-for="Cotizacion.MaterialesCotizacion[i-1].FechaInicio" class="form-control small" /></td>
                        <td><input type="date" asp-for="Cotizacion.MaterialesCotizacion[i-1].FechaTermino" class="form-control small" /></td>
                        <td><input type="number" min="0" step="0.01" value="@totl" asp-for="Cotizacion.MaterialesCotizacion[i-1].TotalNeto" readonly class="form-control small mTotalNeto text-primary decimal" /></td>
                        <td style="display:none;"><input type="number" min="0" step="0.01" value="@cmpr" asp-for="Cotizacion.MaterialesCotizacion[i-1].TotalCompra" readonly class="form-control small mTotalCompra text-primary decimal" /></td>
                        <td><button type="button" class="text-danger border-0" onclick="deleteMaterial('@idDelete','@skuDelete')"><i class="fas fa-trash-alt"></i></button></td>
                    </tr>
                }
                for (int i = nCotizaciones + 1; i < 100; i++)
                {
                    <tr id="tr_@i" class="oculta">
                        <td class="text-right">@i</td>
                        <td class="td-selectpicker">
                            <select asp-for="Cotizacion.MaterialesCotizacion[i-1].MaterialId" class="form-control small selectpicker mMaterial" data-live-search="true" asp-items="ViewBag.Materiales">
                                <option value="">Seleccione</option>
                            </select>
                        </td>
                        <td>
                            <select asp-for="Cotizacion.MaterialesCotizacion[i-1].TipoMaterial" class="form-control small mTipo">
                                <option value="SW">SW</option>
                                <option value="HW">HW</option>
                                <option value="SW-BT" selected="selected">SW-BT</option>
                                <option value="HW-BT">HW-BT</option>
                            </select>
                        </td>
                        <td><input asp-for="Cotizacion.MaterialesCotizacion[i-1].NumeroSerie" class="form-control small mNumeroSerie" style="text-transform:uppercase" /></td>
                        <td><input type="number" min="0" step="1" asp-for="Cotizacion.MaterialesCotizacion[i-1].Cantidad" onkeypress="return soloNumeros(event);" class="form-control small mCantidad" /></td>
                        <td><input type="number" min="0" step="0.01" asp-for="Cotizacion.MaterialesCotizacion[i-1].PrecioUnitario" onkeypress="return soloNumpunto(event);" class="form-control small mPrecioUnitario decimal" /></td>
                        <td><input type="number" min="0" step="0.01" asp-for="Cotizacion.MaterialesCotizacion[i-1].DescuentoPorcentaje" class="form-control small mDescuento" /></td>
                        <td><input type="number" min="0" step="0.01" asp-for="Cotizacion.MaterialesCotizacion[i-1].ImpuestoDuty" onkeypress="return soloNumpunto(event);" class="form-control small mImpuesto" /></td>
                        <td><input type="number" min="0" step="0.01" asp-for="Cotizacion.MaterialesCotizacion[i-1].PrecioCliente" readonly class="form-control small mPrecioCliente decimal" /></td>
                        <td><input type="date" asp-for="Cotizacion.MaterialesCotizacion[i-1].FechaInicio" class="form-control small" /></td>
                        <td><input type="date" asp-for="Cotizacion.MaterialesCotizacion[i-1].FechaTermino" class="form-control small" /></td>
                        <td><input type="number" min="0" step="0.01" asp-for="Cotizacion.MaterialesCotizacion[i-1].TotalNeto" readonly class="form-control small mTotalNeto text-primary decimal" /></td>
                        <td style="display:none;"><input type="number" min="0" step="0.01" asp-for="Cotizacion.MaterialesCotizacion[i-1].TotalCompra" readonly class="form-control small mTotalCompra text-primary decimal" /></td>
                        <td></td>
                    </tr>
                }
            }
            <tr>
                <td colspan="13" class="text-left">
                    <button type="button" class="btn btn-success" onclick="addRow();"><i class="fas fa-plus-circle"></i></button>
                </td>
            </tr>
        </table>
    </div>

    @{
        var totlNeto = Model.Cotizacion.TotalNeto.ToString().Replace(",", ".");
        var totlIva = Model.Cotizacion.TotalIVA.ToString().Replace(",", ".");
        var totlCompra = Model.Cotizacion.TotalCompra.ToString().Replace(",", ".");
    }

    <div class="form-group col-md-2 offset-md-10 col-sm-12 text-right">
        <label asp-for="Cotizacion.TotalCompra" class="control-label"></label>
        <input asp-for="Cotizacion.TotalCompra" value="@totlCompra" readonly class="form-control text-primary text-right p-1" />
    </div>

    <div class="form-group col-md-2 offset-md-10 col-sm-12 text-right">
        <label asp-for="Cotizacion.TotalNeto" class="control-label"></label>
        <input asp-for="Cotizacion.TotalNeto" value="@totlNeto" readonly class="form-control text-primary text-right p-1" />
    </div>
    <div class="form-group col-md-2 offset-md-10 col-sm-12 text-right">
        <label asp-for="Cotizacion.TotalIVA" class="control-label"></label>
        <input asp-for="Cotizacion.TotalIVA" value="@totlIva" readonly class="form-control text-success text-right p-1" />
    </div>
    <div class="form-group col-md-12 col-sm-12 text-right">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-action="MaterialDelete" class="modal-content">
            <input type="hidden" id="id-delete" name="id" />
            <input type="hidden" value="@Model.Cotizacion.CotizacionId" name="idCotizacion" />
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea eliminar este ítem?
                <p id="sku-delete" class="text-primary"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <input type="submit" class="btn btn-danger" value="Eliminar" />
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modalMaterial" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo material</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formMaterial" class="row">
                    <div class="form-group col-md-3 col-sm-12">
                        <label asp-for="nuevoM.Sku" class="control-label"></label>
                        <input asp-for="nuevoM.Sku" class="form-control" />
                        <span asp-validation-for="nuevoM.Sku" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-9 col-sm-12">
                        <label asp-for="nuevoM.Descripcion" class="control-label"></label>
                        <input asp-for="nuevoM.Descripcion" class="form-control" />
                        <span asp-validation-for="nuevoM.Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label asp-for="nuevoM.MaterialSap" class="control-label"></label>
                        <input asp-for="nuevoM.MaterialSap" class="form-control" />
                        <span asp-validation-for="nuevoM.MaterialSap" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label asp-for="nuevoM.PrecioUnitario" class="control-label"></label>
                        <input asp-for="nuevoM.PrecioUnitario" class="form-control text-right" />
                        <span asp-validation-for="nuevoM.PrecioUnitario" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" onclick="addMaterial();" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCanal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo canal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formCanal" class="row">
                    <div class="form-group col-md-3 col-sm-12">
                        <label asp-for="nuevoC.Rut" class="control-label"></label>
                        <input asp-for="nuevoC.Rut" class="form-control campo-rut" onkeypress="return soloRUT(event);" />
                        <span asp-validation-for="nuevoC.Rut" class="text-danger"></span>
                        <span id="nuevoC_RutCustomError" class="text-danger field-validation-valid" style="display:none;"><span class="">El RUT ingresado no es válido</span></span>
                    </div>
                    <div class="form-group col-md-9 col-sm-12">
                        <label asp-for="nuevoC.RazonSocial" class="control-label"></label>
                        <input asp-for="nuevoC.RazonSocial" class="form-control" onkeypress="return soloValidos(event);" style="text-transform:uppercase;" />
                        <span asp-validation-for="nuevoC.RazonSocial" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label asp-for="nuevoC.Telefono" class="control-label"></label>
                        <input asp-for="nuevoC.Telefono" class="form-control" onkeypress="return soloTelefono(event);" />
                        <span asp-validation-for="nuevoC.Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-9 col-sm-12">
                        <label asp-for="nuevoC.Direccion" class="control-label"></label>
                        <input asp-for="nuevoC.Direccion" class="form-control" onkeypress="return soloValidos(event);" />
                        <span asp-validation-for="nuevoC.Direccion" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label asp-for="nuevoC.Email" class="control-label"></label>
                        <input type="email" asp-for="nuevoC.Email" class="form-control" />
                        <span asp-validation-for="nuevoC.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label asp-for="nuevoC.NumeroClienteIngram" class="control-label"></label>
                        <input asp-for="nuevoC.NumeroClienteIngram" class="form-control" />
                        <span asp-validation-for="nuevoC.NumeroClienteIngram" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" onclick="addCanal();" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalClienteFinal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo cliente final</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formClienteFinal" class="row">
                    <div class="form-group col-md-3 col-sm-12">
                        <label asp-for="nuevoCF.Rut" class="control-label"></label>
                        <input asp-for="nuevoCF.Rut" class="form-control campo-rut" onkeypress="return soloRUT(event);" />
                        <span asp-validation-for="nuevoCF.Rut" class="text-danger"></span>
                        <span id="nuevoCF_RutCustomError" class="text-danger field-validation-valid" style="display:none;"><span class="">El RUT ingresado no es válido</span></span>
                    </div>
                    <div class="form-group col-md-9 col-sm-12">
                        <label asp-for="nuevoCF.RazonSocial" class="control-label"></label>
                        <input asp-for="nuevoCF.RazonSocial" class="form-control" onkeypress="return soloValidos(event);" />
                        <span asp-validation-for="nuevoCF.RazonSocial" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label asp-for="nuevoCF.Telefono" class="control-label"></label>
                        <input asp-for="nuevoCF.Telefono" class="form-control" onkeypress="return soloTelefono(event);" />
                        <span asp-validation-for="nuevoCF.Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-9 col-sm-12">
                        <label asp-for="nuevoCF.Direccion" class="control-label"></label>
                        <input asp-for="nuevoCF.Direccion" class="form-control" onkeypress="return soloValidos(event);" />
                        <span asp-validation-for="nuevoCF.Direccion" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label asp-for="nuevoCF.Email" class="control-label"></label>
                        <input type="email" asp-for="nuevoCF.Email" class="form-control" />
                        <span asp-validation-for="nuevoCF.Email" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" onclick="addClienteFinal();" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalContactoCanal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo contacto canal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formContactoCanal" class="row">
                    <div class="form-group col-md-3 col-sm-12">
                        <label asp-for="nuevoCC.CanalId" class="control-label"></label>
                        <select asp-for="nuevoCC.CanalId" class="form-control" asp-items="ViewBag.CanalId">
                            <option value="">Seleccione canal</option>
                        </select>
                    </div>
                    <div class="offset-md-9"></div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label asp-for="nuevoCC.Rut" class="control-label"></label>
                        <input asp-for="nuevoCC.Rut" class="form-control campo-rut" onkeypress="return soloRUT(event);" />
                        <span asp-validation-for="nuevoCC.Rut" class="text-danger"></span>
                        <span id="nuevoCC_RutCustomError" class="text-danger field-validation-valid" style="display:none;"><span class="">El RUT ingresado no es válido</span></span>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label asp-for="nuevoCC.Nombre" class="control-label"></label>
                        <input asp-for="nuevoCC.Nombre" class="form-control" onkeypress="return soloValidos(event);" />
                        <span asp-validation-for="nuevoCC.Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label asp-for="nuevoCC.Apellido" class="control-label"></label>
                        <input asp-for="nuevoCC.Apellido" class="form-control" onkeypress="return soloValidos(event);" />
                        <span asp-validation-for="nuevoCC.Apellido" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label asp-for="nuevoCC.Email" class="control-label"></label>
                        <input type="email" asp-for="nuevoCC.Email" class="form-control" />
                        <span asp-validation-for="nuevoCC.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label asp-for="nuevoCC.Telefono" class="control-label"></label>
                        <input asp-for="nuevoCC.Telefono" class="form-control" onkeypress="return soloTelefono(event);" />
                        <span asp-validation-for="nuevoCC.Telefono" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" onclick="addContactoCanal();" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalContactoClienteFinal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo contacto cliente final</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formContactoClienteFinal" class="row">
                    <div class="form-group col-md-3 col-sm-12">
                        <label asp-for="nuevoCCF.ClienteFinalId" class="control-label"></label>
                        <select asp-for="nuevoCCF.ClienteFinalId" class="form-control" asp-items="ViewBag.ClienteFinalId">
                            <option value="">Seleccione cliente final</option>
                        </select>
                    </div>
                    <div class="offset-md-9"></div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label asp-for="nuevoCCF.Rut" class="control-label"></label>
                        <input asp-for="nuevoCCF.Rut" class="form-control campo-rut" onkeypress="return soloRUT(event);" />
                        <span asp-validation-for="nuevoCCF.Rut" class="text-danger"></span>
                        <span id="nuevoCCF_RutCustomError" class="text-danger field-validation-valid" style="display:none;"><span class="">El RUT ingresado no es válido</span></span>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label asp-for="nuevoCCF.Nombre" class="control-label"></label>
                        <input asp-for="nuevoCCF.Nombre" class="form-control" onkeypress="return soloValidos(event);" />
                        <span asp-validation-for="nuevoCCF.Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label asp-for="nuevoCCF.Apellido" class="control-label"></label>
                        <input asp-for="nuevoCCF.Apellido" class="form-control" onkeypress="return soloValidos(event);" />
                        <span asp-validation-for="nuevoCCF.Apellido" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label asp-for="nuevoCCF.Email" class="control-label"></label>
                        <input type="email" asp-for="nuevoCCF.Email" class="form-control" />
                        <span asp-validation-for="nuevoCCF.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3 col-sm-12">
                        <label asp-for="nuevoCCF.Telefono" class="control-label"></label>
                        <input asp-for="nuevoCCF.Telefono" class="form-control" onkeypress="return soloTelefono(event);" />
                        <span asp-validation-for="nuevoCCF.Telefono" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" onclick="addContactoClienteFinal();" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/validaciones.js"></script>
<script src="~/js/rut.js"></script>
<script>

    function addMaterial() {
        const form = document.getElementById("formMaterial");

        const elements = new FormData(form);
        const _object = Object.fromEntries(elements.entries());
        const data = JSON.stringify(_object).replaceAll("nuevoM.", "");
        const object = JSON.parse(data);

        console.log(data);

        $.ajax({
            url: "/Cotizaciones/AddMaterial",
            type: "GET",
            data: "json=" + data,
            success: function (resId) {
                console.log(resId);
                var selects = $(".mMaterial");
                for (i = 0; i < selects.length; i++) {
                    selects.eq(i).find("select").append(`<option value="${resId}">${object.Sku + " | " + object.Descripcion}</option>`);
                    selects.eq(i).selectpicker("refresh");
                }

                $('#modalMaterial').modal('toggle');
            },
            error: function (error) {
            }
        });
    }

    function addCanal() {
        const form = document.getElementById("formCanal");

        const elements = new FormData(form);
        const _object = Object.fromEntries(elements.entries());
        const data = JSON.stringify(_object).replaceAll("nuevoC.", "");
        const object = JSON.parse(data);

        //console.log(object);

        $.ajax({
            url: "/Cotizaciones/AddCanal",
            type: "GET",
            data: "json=" + data,
            success: function (resId) {
                var select = $("#Cotizacion_CanalId");
                var name = (object.RazonSocial).toUpperCase();
                select.append(`<option value="${resId}">${name}</option>`);
                //select.find("select").append(`<option value="${resId}">${object.RazonSocial}</option>`);
                select.val(resId);
                select.selectpicker("refresh");

                var select2 = $("#nuevoCC_CanalId");
                select2.append(`<option value="${resId}">${name}</option>`);
                select2.val(resId);

                $('#modalCanal').modal('toggle');
            },
            error: function (error) {
            }
        });
    }

    function addContactoCanal() {
        const form = document.getElementById("formContactoCanal");

        const elements = new FormData(form);
        const _object = Object.fromEntries(elements.entries());
        const data = JSON.stringify(_object).replaceAll("nuevoCC.", "");
        const object = JSON.parse(data);

        //console.log(object);

        $.ajax({
            url: "/Cotizaciones/AddContactoCanal",
            type: "GET",
            data: "json=" + data,
            success: function (resId) {
                var select = $("#Cotizacion_ContactoCanalId");
                var name = object.Nombre + " " + object.Apellido;
                select.append(`<option value="${resId}">${name}</option>`);
                select.val(resId);
                select.selectpicker("refresh");
                $('#modalContactoCanal').modal('toggle');
            },
            error: function (error) {
            }
        });
    }

    function addClienteFinal() {
        const form = document.getElementById("formClienteFinal");

        const elements = new FormData(form);
        const _object = Object.fromEntries(elements.entries());
        const data = JSON.stringify(_object).replaceAll("nuevoCF.", "");
        const object = JSON.parse(data);

        //console.log(object);

        $.ajax({
            url: "/Cotizaciones/AddClienteFinal",
            type: "GET",
            data: "json=" + data,
            success: function (resId) {
                var select = $("#Cotizacion_ClienteFinalId");
                var name = (object.RazonSocial).toUpperCase();
                select.append(`<option value="${resId}">${name}</option>`);
                select.val(resId);
                select.selectpicker("refresh");

                var select2 = $("#nuevoCCF_ClienteFinalId");
                select2.append(`<option value="${resId}">${name}</option>`);
                select2.val(resId);

                $('#modalClienteFinal').modal('toggle');
            },
            error: function (error) {
            }
        });
    }

    function addContactoClienteFinal() {
        const form = document.getElementById("formContactoClienteFinal");

        const elements = new FormData(form);
        const _object = Object.fromEntries(elements.entries());
        const data = JSON.stringify(_object).replaceAll("nuevoCCF.", "");
        const object = JSON.parse(data);

        //console.log(object);

        $.ajax({
            url: "/Cotizaciones/AddContactoClienteFinal",
            type: "GET",
            data: "json=" + data,
            success: function (resId) {
                var select = $("#Cotizacion_ContactoClienteFinalId");
                var name = object.Nombre + " " + object.Apellido;
                select.append(`<option value="${resId}">${name}</option>`);
                select.val(resId);
                select.selectpicker("refresh");
                $('#modalContactoClienteFinal').modal('toggle');
            },
            error: function (error) {
            }
        });
    }

    $(function () {
        $("#nuevoC_Rut").on("keyup", function () {
            var rutField = format($(this).val());
            //console.log(rutField);

            if (validate(rutField)) {
                $('#nuevoC_Rut').valid(true);
                //console.log("válido");
                $("#nuevoC_RutCustomError").removeClass('field-validation-error');
                $("#nuevoC_RutCustomError").addClass('field-validation-valid');
                $("#nuevoC_RutCustomError").css("display", "none");
            }
            else {
                $('#nuevoC_Rut').valid(false);
                //console.log("no válido");
                $("#nuevoC_RutCustomError").removeClass('field-validation-valid');
                $("#nuevoC_RutCustomError").addClass('field-validation-error');
                $("#nuevoC_RutCustomError").css("display", "block");
            }

            $(this).val(rutField);

        });
    });

    $(function () {
        $("#nuevoCC_Rut").on("keyup", function () {
            var rutField = format($(this).val());
            //console.log(rutField);

            if (validate(rutField)) {
                $('#nuevoCC_Rut').valid(true);
                //console.log("válido");
                $("#nuevoCC_RutCustomError").removeClass('field-validation-error');
                $("#nuevoCC_RutCustomError").addClass('field-validation-valid');
                $("#nuevoCC_RutCustomError").css("display", "none");
            }
            else {
                $('#nuevoCC_Rut').valid(false);
                //console.log("no válido");
                $("#nuevoCC_RutCustomError").removeClass('field-validation-valid');
                $("#nuevoCC_RutCustomError").addClass('field-validation-error');
                $("#nuevoCC_RutCustomError").css("display", "block");
            }

            $(this).val(rutField);

        });
    });

    $(function () {
        $("#nuevoCF_Rut").on("keyup", function () {
            var rutField = format($(this).val());
            //console.log(rutField);

            if (validate(rutField)) {
                $('#nuevoCF_Rut').valid(true);
                //console.log("válido");
                $("#nuevoCF_RutCustomError").removeClass('field-validation-error');
                $("#nuevoCF_RutCustomError").addClass('field-validation-valid');
                $("#nuevoCF_RutCustomError").css("display", "none");
            }
            else {
                $('#nuevoCF_Rut').valid(false);
                //console.log("no válido");
                $("#nuevoCF_RutCustomError").removeClass('field-validation-valid');
                $("#nuevoCF_RutCustomError").addClass('field-validation-error');
                $("#nuevoCF_RutCustomError").css("display", "block");
            }

            $(this).val(rutField);

        });
    });

    $(function () {
        $("#nuevoCCF_Rut").on("keyup", function () {
            var rutField = format($(this).val());
            //console.log(rutField);

            if (validate(rutField)) {
                $('#nuevoCCF_Rut').valid(true);
                //console.log("válido");
                $("#nuevoCCF_RutCustomError").removeClass('field-validation-error');
                $("#nuevoCCF_RutCustomError").addClass('field-validation-valid');
                $("#nuevoCCF_RutCustomError").css("display", "none");
            }
            else {
                $('#nuevoCCF_Rut').valid(false);
                //console.log("no válido");
                $("#nuevoCCF_RutCustomError").removeClass('field-validation-valid');
                $("#nuevoCCF_RutCustomError").addClass('field-validation-error');
                $("#nuevoCCF_RutCustomError").css("display", "block");
            }

            $(this).val(rutField);

        });
    });

    function deleteMaterial(id, sku) {
        $("#id-delete").val(id);
        $("#sku-delete").html(sku);

        $("#modalDelete").modal("show");
    }

    $(document).ready(function () {
        $("#formCotizacion").submit(function () {
            return true;
        });
    });

    function CalculaTotales() {
        var total = 0;
        var totalCompra = 0;
        for (i = 1; i < 100; i++) {
            var tr = $("#tr_" + i);

            if (tr.hasClass("visible")) {
                //console.log(tr.attr("id"));
                if (tr.find(".mTotalNeto").val() != "" && tr.find(".mTotalNeto").val() != undefined) {
                    var trVal = tr.find(".mTotalNeto").val();
                    //console.log(trVal);
                    total = parseFloat(total) + parseFloat(trVal);
                    //console.log(total);
                }

                if (tr.find(".mTotalCompra").val() != "" && tr.find(".mTotalCompra").val() != undefined) {
                    var trValCompra = tr.find(".mTotalCompra").val();
                    //console.log(trVal);
                    totalCompra = parseFloat(totalCompra) + parseFloat(trValCompra);
                    //console.log(total);
                }
            }
        }
        total = parseFloat(total).toFixed(2);
        $("#Cotizacion_TotalCompra").val(parseFloat(totalCompra).toFixed(2));
        $("#Cotizacion_TotalNeto").val(total);
        $("#Cotizacion_TotalIVA").val((total * 1.19).toFixed(2));

        //console.log("Total = " + $("#Cotizacion_TotalNeto").val());
    }

    function CalculaPrecio(rowId) {
        var tr = $("#tr_" + rowId);
        var tipo = tr.find(".mTipo").val();
        var cantidad = parseFloat(tr.find(".mCantidad").val());
        var precioUnitario = parseFloat(tr.find(".mPrecioUnitario").val());
        var descuento = parseFloat(tr.find(".mDescuento").val());
        var impuesto = parseFloat(tr.find(".mImpuesto").val());

        var margen = parseFloat($("#Cotizacion_Margen").val());

        if (tipo != "") {
            var precioCliente = 0;
            var totalNeto = 0;

            var precioFoB = precioUnitario * (1 - descuento / 100);

            //console.log("Precio FoB = " + precioUnitario + "* (1 - " + descuento + "/100) = " + precioFoB);

            var precioInternacion = 0;

            if (tipo == "SW" || tipo == "SW-BT") {
                precioInternacion = precioFoB / (1 + impuesto / 100);
                //console.log("Precio Internacion = " + precioFoB + "/(1 + " + impuesto + "/100) = " + precioInternacion);
            }
            else if (tipo == "HW" || tipo == "HW-BT") {
                precioInternacion = precioFoB * (1 - impuesto / 100);
                //console.log("Precio Internacion = " + precioFoB + "*(1 - " + impuesto + "/100) = " + precioInternacion);
            }


            if ((tipo == "SW" || tipo == "HW")) {
                precioCliente = (precioInternacion * (1 + margen / 100)).toFixed(2);

                totalNeto = (precioInternacion * (1 + margen / 100) * cantidad).toFixed(2);
            }
            else if ((tipo == "SW-BT" || tipo == "HW-BT")) {
                precioCliente = (precioInternacion / (1 - margen / 100)).toFixed(2);

                totalNeto = (precioInternacion / (1 - margen / 100) * cantidad).toFixed(2);

                //console.log("Precio Cliente = (" + precioInternacion + "/(" + margen + "/100)) = " + precioCliente);
                //console.log("Total Neto = (" + precioInternacion + "/(" + margen + "/100)*" + cantidad + ") = " + precioCliente);
            }



            if (precioCliente > 0 && totalNeto > 0) {
                tr.find(".mPrecioCliente").val(precioCliente);
                tr.find(".mTotalNeto").val(totalNeto);
            }
        }

        CalculaPrecioMargenCero(rowId);
    }

    function CalculaPrecioMargenCero(rowId) {
        var tr = $("#tr_" + rowId);
        var tipo = tr.find(".mTipo").val();
        var cantidad = parseFloat(tr.find(".mCantidad").val());
        var precioUnitario = parseFloat(tr.find(".mPrecioUnitario").val());
        var descuento = parseFloat(tr.find(".mDescuento").val());
        var impuesto = parseFloat(tr.find(".mImpuesto").val());

        var margen = 0;

        if (tipo != "") {
            var precioCliente = 0;
            var totalNeto = 0;

            var precioFoB = precioUnitario * (1 - descuento / 100);

            //console.log("Precio FoB = " + precioUnitario + "* (1 - " + descuento + "/100) = " + precioFoB);

            var precioInternacion = 0;

            if (tipo == "SW" || tipo == "SW-BT") {
                precioInternacion = precioFoB / (1 + impuesto / 100);
                //console.log("Precio Internacion = " + precioFoB + "/(1 + " + impuesto + "/100) = " + precioInternacion);
            }
            else if (tipo == "HW" || tipo == "HW-BT") {
                precioInternacion = precioFoB * (1 - impuesto / 100);
                //console.log("Precio Internacion = " + precioFoB + "*(1 - " + impuesto + "/100) = " + precioInternacion);
            }


            if ((tipo == "SW" || tipo == "HW")) {
                precioCliente = (precioInternacion * (1 + margen / 100)).toFixed(2);

                totalNeto = (precioInternacion * (1 + margen / 100) * cantidad).toFixed(2);
            }
            else if ((tipo == "SW-BT" || tipo == "HW-BT")) {
                precioCliente = (precioInternacion / (1 - margen / 100)).toFixed(2);

                totalNeto = (precioInternacion / (1 - margen / 100) * cantidad).toFixed(2);

                //console.log("Precio Cliente = (" + precioInternacion + "/(" + margen + "/100)) = " + precioCliente);
                //console.log("Total Neto = (" + precioInternacion + "/(" + margen + "/100)*" + cantidad + ") = " + precioCliente);
            }



            if (totalNeto > 0) {
                tr.find(".mTotalCompra").val(totalNeto);
            }
        }
    }

    $(".mTipo").on("change", function () {
        var id = $(this).attr("id").split("_")[2];
        CalculaPrecio(parseInt(id) + 1);
        CalculaTotales();
    }
    );

    $(".mMaterial").on("change", function () {
        var id = $(this).attr("id").split("_")[2];
        CalculaPrecio(parseInt(id) + 1);
        CalculaTotales();
    }
    );

    $(".mCantidad").on("change", function () {
        var id = $(this).attr("id").split("_")[2];
        CalculaPrecio(parseInt(id) + 1);
        CalculaTotales();
    }
    );

    $(".mPrecioUnitario").on("change", function () {
        var id = $(this).attr("id").split("_")[2];
        CalculaPrecio(parseInt(id) + 1);
        CalculaTotales();
    }
    );

    $(".mDescuento").on("change", function () {
        var id = $(this).attr("id").split("_")[2];
        CalculaPrecio(parseInt(id) + 1);
        CalculaTotales();
    }
    );

    $(".mImpuesto").on("change", function () {
        var id = $(this).attr("id").split("_")[2];
        CalculaPrecio(parseInt(id) + 1);
        CalculaTotales();
    }
    );

    $("#Cotizacion_Margen").on("change", function () {
        for (i = 1; i < 100; i++) {
            CalculaPrecio(i);
        }
        CalculaTotales();
    }
    );


    function addRow() {
        var last = $("#tablaMateriales").find("tr.visible");
        if(last.length > 0) {
            console.log("last");
            last.last().next().addClass("visible").removeClass("oculta");
        }
        else {
            var first = $("#tr_1");
            console.log(first);
            first.addClass("visible").removeClass("oculta");
        }
    }

    $(function () {
        $("#Quote_FabricanteId").on("change", function () {
            var fabricanteId = $(this).val();
            $("#Quote_ContactoFabricanteId").empty();
            $("#Quote_ContactoFabricanteId").append("<option value=''>Seleccione contacto</option>");

            $.ajax({
                url: "/Cotizaciones/GetContactosFabricante",
                type: "GET",
                data: "fabricanteId=" + fabricanteId,
                success: function (data) {
                    $.each(data, function (i, item) {
                        $("#Quote_ContactoFabricanteId").append(`<option value="${item.contactoFabricanteId}">${item.nombre} ${item.apellido}</option>`);
                    });
                    $('#Quote_ContactoFabricanteId').addClass('selectpicker');
                    $('#Quote_ContactoFabricanteId').attr('data-live-search', 'true');
                    $('#Quote_ContactoFabricanteId').selectpicker('refresh');
                },
                error: function (error) {
                }
            });
        });
    });

    $(function () {
        $("#Cotizacion_CanalId").on("change", function () {
            var canalId = $(this).val();
            $("#Cotizacion_ContactoCanalId").empty();
            $("#Cotizacion_ContactoCanalId").append("<option value=''>Seleccione contacto</option>");

            $.ajax({
                url: "/Cotizaciones/GetContactosCanal",
                type: "GET",
                data: "canalId=" + canalId,
                success: function (data) {
                    $.each(data, function (i, item) {
                        $("#Cotizacion_ContactoCanalId").append(`<option value="${item.contactoCanalId}">${item.nombre} ${item.apellido}</option>`);
                    });
                    $('#Cotizacion_ContactoCanalId').addClass('selectpicker');
                    $('#Cotizacion_ContactoCanalId').attr('data-live-search', 'true');
                    $('#Cotizacion_ContactoCanalId').selectpicker('refresh');
                },
                error: function (error) {
                }
            });
        });
    });

    $(function () {
        $("#Cotizacion_ClienteFinalId").on("change", function () {
            var clienteId = $(this).val();
            $("#Cotizacion_ContactoClienteFinalId").empty();
            $("#Cotizacion_ContactoClienteFinalId").append("<option value=''>Seleccione contacto</option>");

            $.ajax({
                url: "/Cotizaciones/GetContactosClienteFinal",
                type: "GET",
                data: "clienteId=" + clienteId,
                success: function (data) {
                    $.each(data, function (i, item) {
                        $("#Cotizacion_ContactoClienteFinalId").append(`<option value="${item.contactoClienteFinalId}">${item.nombre} ${item.apellido}</option>`);
                    });
                    $('#Cotizacion_ContactoClienteFinalId').addClass('selectpicker');
                    $('#Cotizacion_ContactoClienteFinalId').attr('data-live-search', 'true');
                    $('#Cotizacion_ContactoClienteFinalId').selectpicker('refresh');
                },
                error: function (error) {
                }
            });
        });
    });

    $(document).ready(function () {
        $('.selectpicker').selectpicker();

        for (i = 1; i < 100; i++) {
            CalculaPrecio(i);
        }
        CalculaTotales();
    });

    const inputs = $('input[type=date]');

    document.querySelector('body').addEventListener('paste', (e) => {

        for (i = 0; i < inputs.length; i++) {

            var input = inputs.eq(i);

            if (document.activeElement.id == input.attr("id")) {
                const dates = e.clipboardData.getData('text').split(' ');
                if (dates.length == 2) {

                    var id = input.attr("id").split('__')[0];

                    var inputInicio = $("#" + id + "__FechaInicio");
                    var inputTermino = $("#" + id + "__FechaTermino");

                    console.log(inputInicio);
                    console.log(inputTermino);

                    var d0 = dates[0].split('/');
                    var d1 = dates[1].split('/');
                    if (d0.length == 3) {
                        var y = d0[2];
                        if (d0[2].length == 2) {
                            y = "20" + y;
                        }
                        inputInicio.val(y + "-" + d0[0] + "-" + d0[1]);
                    }

                    if (d1.length == 3) {
                        var y = d1[2];
                        if (d1[2].length == 2) {
                            y = "20" + y;
                        }
                        inputTermino.val(y + "-" + d1[0] + "-" + d1[1]);
                    }
                }
                else if (dates.length == 1) {
                    var d0 = dates[0].split('/');
                    if (d0.length == 3) {
                        var y = d0[2];
                        if (d0[2].length == 2) {
                            y = "20" + y;
                        }
                        input.val(y + "-" + d0[0] + "-" + d0[1]);
                    }
                }
            }
        }

    });
</script>