@model IEnumerable<SistemaCotizaciones.Model.Quote>

@{
    ViewData["Title"] = "Quotes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quotes</h2>

@*<p>
    <a asp-action="Create">Crear nueva quote</a>
</p>*@
<input class="form-control float-right col-md-3 offset-9 mb-2" id="inputBuscador" type="text" placeholder="Buscar...">
<table id="tableData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fabricante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactoFabricante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroQuote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreOportunidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEmision)
            </th>
            <th>Versión</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fabricante.Nombre)
            </td>
            @{
                var contacto = item.ContactoFabricante.Nombre + " " + item.ContactoFabricante.Apellido;
            }
            <td>
                @contacto
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroQuote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreOportunidad)
            </td>
            @{
                var fecha = item.FechaEmision.ToString("dd/MM/yyyy");
            }
            <td class="text-center">
                @fecha
            </td>
            <td class="text-right" style="white-space:nowrap;">
                    @{
                        foreach(var cotizacion in item.Cotizaciones)
                        {
                            <a asp-action="Edit" asp-controller="Cotizaciones" asp-route-id="@cotizacion.CotizacionId" target="_blank" class="mr-2 text-primary">@cotizacion.Version</a>
                        }
                    }
                
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.QuoteId"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#inputBuscador").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tableData>tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
