@model IEnumerable<SistemaCotizaciones.Model.ContactoClienteFinal>

@{
    ViewData["Title"] = "Contactos de clientes finales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contactos de clientes finales</h2>

<p>
    <a asp-action="Create">Crear nuevo contacto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClienteFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteFinal.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContactoClienteFinalId"><i class="fa-solid fa-pen-to-square"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.ContactoClienteFinalId"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
